<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <title>Library</title>
</head>
<body>
  <div style="text-align: center">
    <h1>Today brand-new books</h1>
    <p th:text="${books.size()} + ' books in here'">three books in here</p>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book: ${books}">
        <td th:text="${book.title}">title</td>
        <td th:text="${book.author}">author</td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
